.field {
    
    position:relative;
    padding-top:15px;
    padding-right: 15px;
    
    label {
        position:absolute;
        font-size:14px;
        pointer-events:none;
        top:15px;
        transition:all 0.1s;
        opacity:1;
        color: gray;
        font-weight:normal;
    }
    
    input:valid+label, input:focus+label {    
        font-size:10px;
        opacity:1;
        top:0;
        font-weight:bold;
    }
    
    input:focus+label {
        color:#ff5880;
    }

    
    
}


input[type="text"] {
    display:block;
    font-size:14px;
    background: transparent;
    border:0;
    border-bottom: 1px solid lightgray;
    outline: 0;
    width: 100%;
    margin-bottom:20px;
}


form {
    margin: 20px;
    margin-top: 0;
    padding:20px;
    background:white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}