/* Typography Styles */
/////////////////

// FONT-FACES

@font-face {
    font-family: Gilroy;
    src: url(/mediakits/includes/themes/mediakits/fonts/Gilroy-Light.otf);
    font-weight:normal;
}

@font-face {
    font-family: Gilroy;
    src: url(/mediakits/includes/themes/mediakits/fonts/Gilroy-ExtraBold.otf);
    font-weight:bold;
}


/////////////////
// VARIABLES
/////////////////





/////////////////
// ELEMENTS
/////////////////

* {
    font-family: "Gilroy", Calibri, Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5 {
    font-weight:bold;    
}

h2 {
    color: #7a59a5;
    margin-top:0;
}

a {
    color:#ff5880;
    font-weight:bold;
}

a:hover {
    color: #bb2d4f;
}

p {
    font-size:18px;
    color: #265f7d;
}




/////////////////
// MODIFIERS
/////////////////


// removes padding from bootstrap columns

[class*="col-"] {
    padding-left: 0 !important;
    padding-right:0 !important;
}