/* Main Styles */
/*       Base Partial       */
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

main {
  flex-grow: 1; }

section {
  padding: 40px 0; }

.row {
  max-width: 1200px;
  width: 100%;
  margin: auto; }

.right {
  float: right; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

/* Home Partial */
.home main {
  padding-top: 0; }
.home #log-in-btn {
  color: white;
  font-weight: normal; }
.home #hero-image {
  background-color: black;
  height: 500px;
  padding: 40px 0;
  background-image: url(/mediakits/includes/themes/mediakits/images/hero-image.jpg);
  background-size: cover;
  background-position: top center; }
  .home #hero-image h1 {
    color: white;
    margin: 0; }
.home #call-to-action {
  background-color: #d3e9f8; }
  .home #call-to-action h2 {
    margin: 0;
    font-size: 52px; }
  .home #call-to-action .subtitle {
    font-size: 24px; }
  .home #call-to-action #example-image {
    background: white;
    height: 300px;
    margin-top: -80px;
    margin-bottom: -80px;
    margin-left: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4); }
.home #partners {
  background-color: #edf8ff; }
  .home #partners h2 {
    text-align: center;
    text-transform: uppercase;
    color: #84b0d1;
    margin: 0 0 20px 0; }
  .home #partners ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .home #partners ul li {
      display: inline-block;
      color: #5f6366;
      font-weight: bold;
      font-size: 24px; }
      .home #partners ul li:not(:last-child) {
        margin-right: 20px; }

main {
  background-color: #ececec;
  padding-top: 40px; }

#identity {
  max-width: 100%;
  background: #3690cc;
  padding: 0;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  #identity #identity_image {
    background: url(../images/profile-picture.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px; }
    #identity #identity_image h2, #identity #identity_image p {
      color: white;
      margin: 0;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); }
    #identity #identity_image h2 {
      font-size: 28px; }
    #identity #identity_image p {
      font-size: 16px; }
  #identity #identity-statistics {
    margin: 20px 20px 0px 20px; }
    #identity #identity-statistics td {
      color: white;
      padding: 5px 7px;
      font-size: 18px; }

.statistic {
  font-weight: bold;
  text-shadow: 1px 1px 1px black; }

/* Typography Styles */
@font-face {
  font-family: Gilroy;
  src: url(/mediakits/includes/themes/mediakits/fonts/Gilroy-Light.otf);
  font-weight: normal; }
@font-face {
  font-family: Gilroy;
  src: url(/mediakits/includes/themes/mediakits/fonts/Gilroy-ExtraBold.otf);
  font-weight: bold; }
* {
  font-family: "Gilroy", Calibri, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-weight: bold; }

h2 {
  color: #7a59a5;
  margin-top: 0; }

a {
  color: #ff5880;
  font-weight: bold; }

a:hover {
  color: #bb2d4f; }

p {
  font-size: 18px;
  color: #265f7d; }

[class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important; }

/* Header Partial */
header {
  background-image: url(/mediakits/includes/themes/mediakits/images/footer-image.jpg);
  background-size: cover;
  display: flex;
  height: 84px; }
  header .row {
    display: flex;
    align-items: center;
    height: 100%; }
    header .row h1 {
      color: white;
      margin: 0; }
    header .row #logged-in-name {
      color: white;
      font-weight: bold;
      font-size: 18px;
      display: block; }
    header .row nav {
      display: inline-block;
      margin-top: 8px;
      margin-bottom: -20px; }
      header .row nav ul {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0; }
        header .row nav ul li {
          list-style-type: none;
          padding: 10px; }
          header .row nav ul li a {
            font-size: 14px;
            color: white;
            text-decoration: none;
            font-weight: normal; }
          header .row nav ul li:hover {
            background: rgba(255, 88, 128, 0.4); }
          header .row nav ul li.active {
            background: #ff5880; }
          header .row nav ul li:not(:last-child) {
            margin-right: 20px; }

/* Footer Partial */
footer {
  background-color: #2a1742;
  background-image: url(/mediakits/includes/themes/mediakits/images/footer-image.jpg);
  background-size: cover;
  padding: 55px; }
  footer h2, footer p, footer a, footer li {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0; }
  footer .subtitle {
    margin-bottom: 20px; }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    footer ul li {
      display: inline-block; }
      footer ul li a {
        font-weight: normal; }
      footer ul li:not(:last-child) {
        margin-right: 30px; }
  footer .copyright {
    text-align: right;
    color: white; }

/* Button Styles */
a.button, button {
  padding: 7px 12px;
  color: white;
  font-weight: normal;
  background: #ff5880;
  border: 0; }
  a.button:not(:last-child), button:not(:last-child) {
    margin-right: 30px; }
  a.button.highlight-bg, a.button.active, button.highlight-bg, button.active {
    background: #ff5880;
    font-weight: bold; }

.field {
  position: relative;
  padding-top: 15px;
  padding-right: 15px; }
  .field label {
    position: absolute;
    font-family: Calibri;
    font-size: 14px;
    pointer-events: none;
    top: 15px;
    transition: all 0.1s;
    opacity: 1;
    font-family: Gilroy;
    color: gray;
    font-weight: normal; }
  .field input:valid + label, .field input:focus + label {
    font-size: 10px;
    opacity: 1;
    top: 0;
    font-weight: bold; }
  .field input:focus + label {
    color: #ff5880; }

input[type="text"] {
  display: block;
  font-family: Calibri;
  font-size: 14px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid lightgray;
  outline: 0;
  width: 100%;
  margin-bottom: 20px;
  font-family: Gilroy; }

form {
  margin: 20px;
  margin-top: 0;
  padding: 20px;
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden; }

/*# sourceMappingURL=styles.css.map */
