<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<system.webServer>
	<httpProtocol>
     <customHeaders>
		<add name="Access-Control-Allow-Origin" value="http://mediakits.loc" />
		

     </customHeaders>
   </httpProtocol>
<httpErrors existingResponse="PassThrough" />
<defaultDocument>
	<files>
		<remove value="index.cfm" />
		<add value="index.cfm" />
	</files>
</defaultDocument>

<rewrite>
        <rules>
            <rule name="Mura Rule">
                <match url="^([a-zA-Z0-9/-]+)$" ignoreCase="false" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{DOCUMENT_ROOT}{URL}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                </conditions>
                <action type="Rewrite" url="/index.cfm{URL}" />
            </rule>

        </rules>
				<outboundRules>
          <clear />
          <rule name="AddCrossDomainHeader">
              <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
              <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                  <add input="{HTTP_ORIGIN}" pattern="(http(s)?:\/\/((.+\.)?mydomain\.com))" />
              </conditions>
              <action type="Rewrite" value="{C:0}" />
          </rule>
      </outboundRules>
    </rewrite>

<staticContent>
 	<remove fileExtension=".woff" />
	<mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
</staticContent>

</system.webServer>
</configuration>
